.container {
  max-width: 1200px;
}

.shape_left {
  position: absolute;
  top: 100px;
  left: -60px;
  width: 40vw;
  height: 100%;
}

.shape_right {
  position: absolute;
  top: 100px;
  right: -40px;
  width: 40vw;
}
