.shape_left {
  border: 1px solid red;
  position: absolute;
  left: -3.75rem;
  width: 35vw;
  z-index: -1;
}

.shape_right {
  border: 1px solid red;
  position: absolute;
  top: 10rem;
  right: -1rem;
  width: 35vw;

  z-index: -1;
}

.banner {
  margin-top: 6.25rem;
  position: relative;
  border: 1px solid red;

  display: flex;
  align-items: center;
  flex-direction: column;

  .yummer_logo {
    width: 30vw;
  }

  p {
    color: var(--color-primary);
    margin: 2.5rem 0;
    text-align: center;
    font-size: 1.2rem;
  }

  button {
    margin: 0rem auto 8.75rem;
    padding: 1rem 4.5rem;
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50px;
    font-weight: 500;
    border: none;
    font-size: 1.1rem;

    transition: all 0.3s;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

@media (min-width: 1200px) {
}

@media (max-width: 678px) {
  .shape_left {
    top: 15rem;
  }

  .shape_right {
    top: 25rem;
  }

  .banner {
    margin-top: 2rem;

    .yummer_logo {
      width: 300px;
    }

    button {
      font-size: 1.5rem;
    }
  }
}
